.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.jokes {
  width: auto;
  margin: 0 162px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1600px;
}

@media (max-width: 1900px) {
  .jokes {
    justify-content: space-around;
  }
}
@media (max-width: 1360px) {
  .jokes {
    margin: 0 100px 0;
  }
}
@media (max-width: 1200px) {
  .jokes {
    margin: 0 60px 0;
  }
}
